
.tooltip-inner {
    padding: 1px 6px;
    color: #000;
    background-color: #eee;
    border-radius: 10px;
    border: #000 solid 2px;
}


#vis_set input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #68ADD5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.slider.slider-horizontal .slider-track {
    height: 5px !important;
    margin-top: -2.5px !important;
}

.slider-handle {
    top: 5px !important;
    width: 10px !important;
    height: 10px !important;
    background-color: #B3DFF9;
    background-image: -webkit-linear-gradient(top,#B3DFF9 0,#A0D7F7 100%) !important;
    background-image: -o-linear-gradient(top,#B3DFF9 0,#A0D7F7 100%) !important;
    background-image: linear-gradient(to bottom,#B3DFF9 0,#A0D7F7 100%) !important;
}

.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top,#797979 0,#757575 100%);
    background-image: -o-linear-gradient(top,#797979 0,#757575 100%);
    background-image: linear-gradient(to bottom,#797979 0,#757575 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff797979',endColorstr='#ff757575',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top,#757575 0,#797979 100%);
    background-image: -o-linear-gradient(top,#757575 0,#797979 100%);
    /* background-image: linear-gradient(to bottom,#757575 0,#797979 100%); */
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff757575',endColorstr='#ff797979',GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.switch_checkbox {
    display: none;
}
.switch_checkbox_label {
    width: 40px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: rgb(189, 189, 189);
    border-radius: 30px;

    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
}
.switch_checkbox_label:after {
    left: 0;
    width: 12px;
    height: 12px;
    margin: 4px;
    content: '';
    position: absolute;
    background: #FFF;
    border-radius: 10px;
}

.switch_checkbox_label.ui-checkbox-on {
    background: #68ADD5;
}
.switch_checkbox_label.ui-checkbox-on:after {
    left: auto;
    right: 0;
}



#vis_set_dragger {
    left: calc( var(--boundary-horizontal) - 15px );
}

#vis_set_table td:last-child{
    min-width: 240px;
}
#vis_set > .setting-wrapper {
    width: 95%;
}
#vis_set .row {
   /* padding-left: 30px;
    padding-right: 30px;*/
    color: var(--font-color-p);
    border-color: var(--font-color-p);
    border-bottom-style: solid;
    border-width: 1px;
    font-weight: 400;
}
#vis_set .row > div:nth-child(even){
    text-align: right;
}
#vis_set .row > .col-xs-12, #vis_set .row > .col-md-12{
    text-align: left !important;
}

#vis_set .slider {
    margin-bottom: 10px;
}
#vis_set h5 {
    /*border-bottom-style:solid;
    border-width: 2px;
    border-color: var(--font-color-h5)*/
    text-decoration: underline;
}
#vis_set .row > p{
    color: #888;
    padding-left: 5px;
}
#vis_set .tooltip{
    pointer-events: none;
}
#vis_set input[type=radio]{
    margin-left: 10px;
}

#bloom_pass td{
    padding-bottom:10px
}

.slider{
    max-width: 210px;
    width: 40vw !important;
}
.swiper-container {
    width: 100%;
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    margin-top: 50px;
/*    margin-left: 30px;
    padding-right: 30px;		    */
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 30%;
    /*height: 600px !important;*/
    background-color: rgb(0, 0, 0);
}

.swiper-slide.selected{
    background-color: rgb(30, 30, 30);
}

.swiper-slide img{
    padding: 20px;
    width: 100%;
}

#info-physiology{
   padding-left: 15px;
   margin-right:15px;
}
.add_to_list {
    position: relative;
    padding: 20px;
    /*top: -70px;*/
}


.dataset_list{
    padding: 50px;
}
.dataset_list a{
    margin-top: 15px;
}
#dataset_listing{
    padding: 10px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    color: rgb(200, 200, 200);
    background-color: rgb(20, 20, 30);
    border-radius: 15px;
}

#dataset_listing p{
    margin-left: 5px;
}

.switch2d_3d{
    list-style: none;
    padding-top: 20px;
    margin-left: 15%;
}
.switch2d_3d li{
    display: inline;
}

/*
Font Sizes
*/
body {
    font-size: 16px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

p, td, .btn, th, ul, .overlay .row {
    font-size: 0.8em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

.btn-add{
    padding: 3px 6px !important;
}
.btn-remove{
    padding: 3px 8px !important;
}

@media (min-width: 43.75em) {
    p, td, .btn, ul, .overlay .row, #vis_set .row {
	font-size: 0.85em;
	/* equivalent to 16px */
	line-height: 1.5;
	/* equivalent to 22px */
    }
    .btn-add{
	padding: 2px 7px !important;
    }
    .btn-remove{
	padding: 2px 9px !important;
    }

}

h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
}

@media (min-width: 43.75em) {
    h1 {
	font-size: 2.5em;
	/* 2.5x body copy size = 40px */
	line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    h1 {
	font-size: 3em;
	/* 3x body copy size = 48px */
	line-height: 1.05;
	/* keep to a multiple of the 20px line height and something more appropriate for display headings */
    }
}

h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
}

@media (min-width: 43.75em) {
    h2 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h2 {
	font-size: 2.25em;
	/* 2.25x body copy size = 36px */
	line-height: 1.25;
    }
}

h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
}

@media (min-width: 43.75em) {
    h3 {
	font-size: 1.5em;
	/* 1.5x body copy size = 24px */
	line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h3 {
	font-size: 1.75em;
	/* 1.75x body copy size = 28px */
	line-height: 1.25;
    }
}

h4{
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
}

@media (min-width: 43.75em) {
    h4, th {
	line-height: 1.22222222;
	/* (22px / 18px */
    }
}

/*
blockquote {
    font-size: 1.25em;
    line-height: 1.25;
}

@media (min-width: 43.75em) {
    blockquote {
	font-size: 1.5em;
	line-height: 1.45833333;
    }
}
*/

/*
* Color map
*/


/*
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/




@media screen and (min-width: 1278px)  {
    :root{
	--boundary-horizontal: 35vw;
    }
}
	
a{
  /*font-family: 'Rajdhani', sans-serif;*/
  font-family: var(--h-font-family);
  font-weight: 400;
  /*font-size: 15px;*/
  color: var(--font-color-a);
  cursor: pointer;
}

a:hover{
  color: #80b919;
}

p, .overlay .row, #vis_set .row{
  /*font-family: 'Lora', sans-serif;*/
  font-family: var(--u-font-family);
  font-weight: normal; /*400;*/
  /*font-size: 14px;*/
  color: var(--font-color-p);
  margin: 5px 10px 10px 10px;

}

h5{
    /* font-family: 'Saira', sans-serif; */
  font-family: var(--h-font-family);
  color: var(--font-color-h5);
  
  margin-left: 5px;
  margin-top: 20px;
  /*font-size: 16px;*/
  font-weight: 500;
}

h4{
    /* font-family: 'Saira', sans-serif; */
  font-family: var(--h-font-family);
  color: var(--font-color-h4);
  margin-left: 5px;
/*  font-size: 20px;*/
  font-weight: 600;
}

h3{
  font-family: var(--h-font-family);
  color: var(--font-color-h3);
  margin-left: 5px;
/*  font-size: 24px;*/
  font-weight: 700;
}

h2{
  font-family: var(--h-font-family);
  color: var(--font-color-h2);
  margin-left: 5px;
/*  font-size: 30px;*/
  font-weight: 800;
}

h1{
  font-family: var(--h-font-family);
  color: var(--font-color-h1);
  margin-left: 5px;
/*  font-size: 36px;*/
  font-weight: 900;
}

ul {
    font-family:var(--u-font-family);
    font-weight: normal;
}
/*
li{
    font-weight:lighter;
}
*/
table th{
  font-family: var(--h-font-family);
}

table td{
    font-family: var(--u-font-family);
}

/*
logo and footer
*/

.navbar-brand > a > span{
    font-family: 'Rajdhani',sans-serif;
    font-weight: 400;
    letter-spacing: 0.000em;
    font-size: 20px;
}

.navbar-brand > a > span:nth-of-type(2){
    text-shadow: 0 0 0.5px var(--font-color-p);
}


/*
Info Panel
*/

#presyn-N{
    max-width: 50px;
    text-align:center;
}
#postsyn-N{
    max-width: 50px;
    text-align: center;
}
.info-input-span{
    color: #999;
    /*font-size: 1.5vw;*/
}

.info-input{
    background: var(--srch-box-background);
    border-color: var(--srch-box-background);
    color: var(--srch-box-color);
    border-width: 1px;
    font-family: monospace;
}

.modal-content {
    background: var(--modal-content-background);
}

.modal-content h1,h2,h3,h4,h5{
    color: var(--modal-content-textcolor);
}

.tag-text, .tag-editor{
    background-color: var(--srch-box-background);
}

.tag-editor .ui-sortable{
    border-radius: 4px;
}

.tag-el.active {
    background-color: var(--tag-el-active-background-color);
}

.tag-el{
    background-color: var(--tag-el-background-color);
    border: 1px solid var(--tag-el-background-color);
}

.tag-el:focus {
    background-color: var(--tag-el-background-color) !important;
}

.tag-el small{
    color: var(--info-ui-color);
}

.tag-el:hover {
    background-color: var(--tag-el-hover-background-color) !important;
}

.tag-editor .tag-editor-tag, .tag-editor .tag-editor-delete{
    background-color: var(--modal-tag-background-color);
    color: var(--navbar-text-color);
}

.modal-footer .btn-default {
    background-color: var(--srch-box-background);
}

.info-try {
  font-weight: 400;
  background: #377097;
  color: #ccc;
  /*font-size: 14px;*/
  border: 5px solid #377097;
  margin: -4px 0px 0px 10px
}

.info-try:focus,
.info-try:active:focus,
.info-try.active:focus {
    outline: 0 none;
}

.info-try:hover,
.info-try:focus {
    color: #eee;
}

.info-try:active,
.info-try.active {
    background: #444;
    color: #ddd;
}

.vis-info p {
  margin-left: 10px;
  margin-right: 10px;

}

.vis-info table > tbody > tr > td {
    color: var(--font-color-p);
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.table-custom-striped td, .table-custom-striped th {
    text-align:center;
}

.table-custom-striped td:first-child, .table-custom-striped th:first-child {
    text-align:left;
}

.table-custom-striped td:last-child, .table-custom-striped th:last-child {
    text-align:right;
    padding-right: 20px;
}


/*
.vis-info{
    font-size: 2vw;
}
.vis-info tr > td{
    font-size: 1.65vw;
}
.vis-info tr > th{
    font-size: 1.85vw;
}

@media screen and ( min-width:768px ) {
    .info-input-span{
	font-size: 1vw;
    }

    .vis-info{
	font-size: 1.5vw;
    }
    .vis-info h4{
	font-size: 1.5vw;
    }
    .vis-info tr > td{
	font-size: 1vw;
    }
    .vis-info tr > th{
	font-size: 1.25vw;
    }
}

@media screen and ( min-width:1200px ) {
    .vis-info{
	font-size: 1.1vw;
    }
    .vis-info h4{
	font-size: 1.1vw;
    }
    .vis-info tr > td{
	font-size: 0.85vw;
    }
    .vis-info tr > th{
	font-size: 0.95vw;
    }
    .info-input-span{
	font-size: 0.8vw;
    }

}

@media screen and ( min-width:1800px ) {
    .vis-info{
	font-size: 0.7vw;
    }
    .vis-info h4{
	font-size: 0.8vw;
    }
    .vis-info tr > td{
	font-size: 0.6vw;
    }
    .vis-info tr > th{
	font-size: 0.65vw;
    }
    .info-input-span{
	font-size: 0.5vw;
    }

}
*/
.vis-info {
  background: var(--infobar-background-color);
  border: 3px solid #1f1f1f;
  border-radius: 3px;
  left: 10px;
  top: 20px;
  position: fixed;
  z-index: 150;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  box-shadow: 0px 0px 4px var(--infobar-background-color);
}

.vis-info-sm {
  height: 35px;
  width: 250px;
  top: 60px;
  overflow: hidden;
}

/* .vis-info-sm:hover */
.vis-info-pin {
  /*height: 400px;*/
  top: 60px;
  height: calc(100vh - 120px);
  width: calc(var(--boundary-horizontal) - 15px);
  overflow-x: hidden;
  overflow-y: auto;
}

.vis-info > ul {
  height: 40px;
  width: 100%;
  position: absolute;
  margin-bottom: 0px;
}
.vis-info > ul > li:first-child > p {
  margin-top: 7px;
  /*margin-left: 5px;*/
  color: var(--font-color-p);
}
.vis-info > ul > li > p {
  margin-top: 5px;
  /*margin-left: 5px;*/
  color: white;
}

/*.vis-info > ul > li:first-child {
  width: calc( 95% - 50px );
}*/

.vis-info > ul > li:last-child {
  padding-right: 0px;
  float:right;
}

.vis-info > ul > li:last-child > .btn {
    margin-top: 7px;
    margin-right: 2px;
    background: transparent;
    color: #aaa;
    /*font-size: 15px;*/
}

.vis-info > ul > li:last-child > .btn:focus,
.vis-info > ul > li:last-child > .btn:active:focus,
.vis-info > ul > li:last-child > .btn.active:focus {
    outline: 0 none;
}

.vis-info > ul > li:last-child > .btn:hover {
    color: #eee;
}
/*
.vis-info > ul > li:last-child > .btn:active,
.vis-info > ul > li:last-child > .btn.active {
    background: #444;
    color: #ddd;
}
*/
/*.vis-info-sm:hover > ul > li:first-child > p, */
.vis-info-pin > ul > li:first-child > p {
  display: none;
}

/* .vis-info-sm > ul > li:last-child > .btn, */
.vis-info-sm > *:nth-child(2) {
  display: none;
}
/*
.vis-info-sm:hover > *:nth-child(2) {
  display: block;
}
*/

.ffbo-intro > p,
.ffbo-intro > h1,
.ffbo-intro > h2,
.ffbo-intro > h3,
.ffbo-intro > h4,
.ffbo-intro > h5 {
  margin-left: 10px;
  margin-right: 15px;
}

#neu-id {
  margin-top: 5px;
}

/*
.vis-svg-sm:hover {
  height: calc(100% - 120px);
  width: calc(50% - 10px);
}
*/


@media screen and (max-width: 768px) {
  .vis-info-sm {
    width: 40%;
  }
}

@media screen and (max-width: 780px) and (orientation:portrait) {
  .vis-hf-r,
  .vis-3d-hf {
    height: calc( 50vh - 65px ) !important;
    width: calc( 100% - 20px ) !important;
    top: calc( 50vh + 5px ) !important;
    left: 10px !important;
  }
  /* .vis-info-sm:hover */
  .vis-info-pin,
  .vis-sm:hover,
  .vis-sm-1:hover {
    top: 60px;
    height: calc( 50vh - 65px );
    width: calc( 100% - 20px );
    overflow-y: auto;
  }
}

/*
AddThis Share Tool
*/

html, body {
    margin:0;
    padding:0;
    height: 100%;
    background-color:#000000 !important;
    background: rgba(21,21,21,1);
}
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle-bg{
    height:34px!important;
    width:34px !important;
}
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle-bg>span{
    height:34px!important;
    width:34px !important;
    background-color: #377097 !important;

}
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle{
    height: 34px !important;
}

body { -webkit-touch-callout: none !important; }
body { -webkit-user-select: none !important; user-select: none !important}; 



/*
 * Prevent mm-menu being showed during loading
 */
#ui_menu_nav:not( .mm-menu ) {
    display: none;
}
#sidebar-wrapper:not( .mm-menu ) {
    display: none;
}
@media screen and (max-width: 512px) {
    html.mm-opening .mm-slideout .ffbo-app {
        display: none;
    }
    html.mm-opening .mm-slideout .navbar-brand {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .mm-menu.mm-offcanvas{
        width: 170px !important;
    }
    html.mm-right.mm-opening .mm-slideout{
        transform: translate3d(-0px,0,0) !important;
        width: calc( 100% - 170px ) !important;
    }
    html.mm-opening .mm-slideout{
        transform: translate3d(170px,0,0) !important;
        width: calc( 100% - 170px ) !important;
    }
}
@media screen and (min-width: 769px) {
    .mm-menu.mm-offcanvas{
        width: 270px !important;
    }
    html.mm-right.mm-opening .mm-slideout{
        transform: translate3d(-0px,0,0) !important;
        width: calc( 100% - 270px ) !important;
    }
    html.mm-opening .mm-slideout{
        transform: translate3d(270px,0,0) !important;
        width: calc( 100% - 270px ) !important;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    html.mm-opening .mm-slideout .navbar-fixed-bottom > ul > li:first-child,
    html.mm-opening .mm-slideout div.navbar-collapse.collapse {
        display: none !important;
    }
}
#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 50px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;
  min-width: 250px;
}

@media screen and (max-width: 768px) {
  #notifications {
    max-width: 180px;
    min-width: 100px;
    font-size: 10px;
  }
}
/*
 * Welcome Login page
 */
#welcomepage {
  background: url(../img/ffb.jpg) bottom center no-repeat;
  z-index: 1003;
  width: 100%;
  height: 100vh;
  top: 0px;
  position: fixed;
  display: table;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
/*
 * Navigation bar
 */

.navbar-ffbo {
  border: none;
  background: var(--background-color);
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  z-index: 999;
  box-shadow: 0px 3px 8px var(--background-color);
}
.navbar-header {
  font-size: 30;
  color: var(--font-color-navbar);
}

.navbar-brand {
  color: var(--font-color-brand) !important;
  padding: 15px 0px;
  z-index: 1030;
  margin-left: 0px !important;
}
.navbar-brand img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -5px;
  margin-right: 5px;
}
.navbar-header a:hover {
  color: #ababab;
}

/*
Nav Menu Custom Collapse Point
*/
@media (max-width: 900px) {
    .navbar-header {
	float: none;
    }
    .navbar-left,.navbar-right {
	float: none !important;
    }
    .navbar-toggle {
	display: block;
    }
    .navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
	display: none!important;
    }
    .navbar-nav {
	float: none!important;
	margin-top: 7.5px;
    }
    .navbar-nav>li {
	float: none;
    }
    .navbar-nav>li>a {
	Padding-top: 10px;
	padding-bottom: 10px;
    }
    .collapse.in{
	display:block !important;
    }
}


/*
 * 3D Visual Scene
 */
.vis-3d {
  background: rgba(0,0,0,0);
  overflow: hidden;
  text-align:center;
  position: fixed;
  z-index: 100;
  -webkit-transition: left .5s, top .5s, width .5s, height .5s;
  transition: left .5s, top .5s, width .5s, height .5s;
}
.vis-3d canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

.vis-3d-sm {
  border: 3px solid #1f1f1f;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  top: 60px;
  right: 10px;
}

.vis-3d-lg {
  border: none;
  height: calc( 100vh - 100px );
  width: 100%;
  top: 50px;
  right: 0px;
}

.vis-3d-hf {
  border: 0px solid #1f1f1f;
  border-radius: 5px;
  height: calc( 100vh - 120px );
  width: calc(100% - var(--boundary-horizontal) - 10px);
  top: 60px;
  left: calc(var(--boundary-horizontal));
  margin-left: 0px;
}

.vis {
  position: fixed;
  background: #000000;
  -webkit-transition: left .5s, top .5s, width .5s, height .5s;
  transition: left .5s, top .5s, width .5s, height .5s;
}
.vis-sm {
  border: 3px solid #1f1f1f;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  top: 60px;
  left: 10px;
  overflow: hidden;
  z-index: 150;
}
.vis-sm-1 {
  border: 3px solid #1f1f1f;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  top: 220px;
  left: 10px;
  overflow: hidden;
  z-index: 150;
}
.vis-lg {
  text-align: center;
  clear: left;
  top: 50px;
  left: 160px;
  width: calc( 100% - 170px );
  height: calc( 100% - 100px );
  overflow-y: auto;
}

.vis-sm:hover,
.vis-sm-1:hover {
  top: 60px;
  height: calc(100% - 120px);
  width: calc(50% - 15px);
  z-index: 9999;
}
vis-hf-r {
  border: 3px solid #1f1f1f;
  border-radius: 5px;
  top: 60px;
  left: calc(50% + 5px);
  height: calc(100% - 120px);
  width: calc(50% - 15px);
}


/*
 * FFBO APP (NeuroGFX or NeuroNLP)
 */

.navbar-inverse .navbar-nav>li>a {
    color: var(--navbar-text-color);
}

#info-panel .ui-link {
    background: var(--info-ui-background-color);
    color: var(--info-ui-color);
    border-color: var(--info-ui-background-color);
}

#info-panel .ui-link:hover {
    background: var(--info-ui-background-color-hover);
    color: var(--info-ui-color-hover);
    border-color: var(--info-ui-background-color-hover);
}

.btn-primary {
    background-color: var(--srch-btn-background-color);
    border-color: var(--srch-btn-border-color);
}

.navbar-inverse .navbar-nav>li>a {
    color: var(--navbar-text-color);
}

.ffbo-app {
    margin: 0px auto !important;
    width: 100px;
}

.ffbo-app > li {
    position: relative;
    padding-top: 0px;
}

.ffbo-app > li > a {
    font-size: 18px;
    background: transparent;
    padding: 0px 0px 0px 0px;
    line-height: 50px
}
.ffbo-app-hover,
.ffbo-app > li > a:hover {
    color: #ff0000 !important;
}
.ffbo-app > li > a,
.ffbo-app > li > a:visited {
    color: #ff6666 !important;
}
.ffbo-app > .dropdown > .dropdown-menu {
    margin: 0px auto;
}

.ffbo-app > .dropdown > .dropdown-menu > li > a {
    color: #89cc89 !important;
}

.ffbo-app > .dropdown > .dropdown-menu > li > a:hover {
    color: #67aa67 !important;
}
/*
 * Navbar Fixed Bottom
 */
.navbar-fixed-bottom {
    background: var(--background-color);
    height: 48px;
    box-shadow: 0px -3px 8px var(--background-color);
    font-family: var(--u-font-family);
}

.navbar-fixed-bottom > ul {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.navbar-fixed-bottom > ul > li{
    line-height: 50px;
}

.navbar-fixed-bottom > ul > li > div {
    padding-top:8px;
    padding-bottom:8px;
    height: 34px;
    line-height: 34px;
    -webkit-transition: bottom .5s linear;
    -moz-transition: bottom .5s linear;
    -o-transition: bottom .5s linear;
    transition: bottom .5s linear;
}

.navbar-fixed-bottom > ul > li {
    float: left;
    padding-left: 70px;
    color: #777;
}
.navbar-collapse > ul > li {
    cursor: pointer;
}

.mm-panel > ul > li.hover,
.mm-panel > ul > li:hover,
.navbar-collapse > ul > li.hover,
.navbar-collapse > ul > li:hover {
    background: var(--li-hover-color);
    /*background: #545454;*/
}
.navbar-collapse > ul > li.hover > a {
    color: #fff;
}
.navbar-fixed-bottom > ul > li:not(:first-child) {
    float: right;
    margin: auto;
    width: auto;
    vertical-align : middle;
}
.navbar-fixed-bottom > ul > li:not(:first-child) p,
.navbar-fixed-bottom > ul > li:not(:first-child) a {
    color: #f9f9ab !important;
    width: auto;
    position: relative;
}
.navbar-fixed-bottom > ul > li:not(:first-child) a:hover {
    text-decoration: underline;
}
.navbar-fixed-bottom > ul > li:not(:first-child) a {
    cursor: pointer;
}

.search-bottom {
    bottom: 0;
    position: relative;
}

.search-middle {
    bottom: 45vh;
    position: fixed;
    z-index: 999;
    right: 20px;
}

.search-hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.navbar-fixed-bottom > ul{
    width: 100%;
}

@media screen and (max-width: 768px) {

    .navbar-fixed-bottom > ul > li:first-child {
        display: none;
    }
    .navbar-fixed-bottom > ul > li:last-child {
        width: calc( 100vw - 20px );
        padding-right: 20px;
    }
    .search-middle{
        width: calc( 100vw - 20px );
        right: 10px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .navbar-fixed-bottom > ul > li:last-child {
        width: calc( 80vw - 90px );
        padding-right: 20px;
        padding-left: 20px;
    }
    .search-middle{
        width: calc( 80vw - 90px );
    }
}


@media screen and (min-width: 1024px) and (max-width: 1278px) {

    .navbar-fixed-bottom > ul > li:last-child {
        width: calc( 60vw - 40px );
        padding-right: 20px;
        padding-left: 20px;
    }
    .search-middle{
        width: calc( 60vw - 40px );
    }
}

@media screen and (min-width: 1278px)  {

    .navbar-fixed-bottom > ul > li:last-child {
        width: calc( 40vw - 40px );
        padding-right: 20px;
        padding-left: 20px;
    }
    .search-middle{
        width: calc( 40vw - 40px );
    }
}



@import url(http://fonts.googleapis.com/css?family=Poiret+One|Varela+Round);
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-menu .divider {
    width: 90%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: calc( 5% );
    background-color: #f3f6db;
    color: #f3f6db;
    border: none;
    height: 1px;
}

/*
 * Overlay
 */

.overlay-background {
    display: none;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1030;
    height: 100vh;
    width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 60px;
  left: 10%;
  border: 3px solid var(--overlay-background-color);
  border-radius: 5px;
  height: calc(100% - 120px);
  width: 80%;
  background: var(--overlay-background-color);
  z-index: 1050;
}

@media screen and (max-width: 768px) {
    .overlay{
	width: 96%;
	left: 2%;
	top: 15%;
	height: 70%;
    }
}

.overlay h1, .overlay h2, .overlay h3,
.overlay h4, .overlay h5, .overlay h6 {

  margin: 5px 5px 5px 5px;
  color: var(--font-color-h1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.overlay iframe {
  height: calc( 100% - 50px );
  width: 100%;
  border: none;
}
.overlay video {
  height: calc( 100% - 50px );
  width: 100%;
  border: none;
}
.overlay > table {
  margin-left: 10px;
  margin-right: 10px;
  width: calc( 100% - 20px );
}
.overlay table td {
  margin-left: 10px;
  margin-right: 10px;
  color: #bbb;
}
.overlay > div {
  position: relative;
  height: calc( 100% - 83px );
  overflow: auto;
  border-top: solid 3px var(--overlay-background-color);
}
.overlay > div:hover {
  border-top: solid 3px #434343;
}
.overlay table > thead > tr > th:nth-of-type(1) {
  width: 40px;
}
.overlay table > thead > tr > th:nth-of-type(2) {
  width: 25%;
}
/*
.overlay table  > thead > tr > th:nth-of-type(3) {
  width: calc( 75% - 110px );
}
*/
.overlay table  > thead > tr > th:nth-of-type(4) {
  width: 70px;
}
.overlay table {
  table-layout: fixed;
  width: calc( 100% - 25px );
  margin-left: 10px;
  margin-right: 15px;
  background: var(--background-color);
}
.overlay table th,
.overlay table td {
  /*font-size: 16px;*/
  font-weight: 400;
  color: var(--font-color-p);
}
.overlay table thead {
    background-color: var(--overlay-thead-color);
/*  background-color: #111111;*/
}
.overlay table tbody th {
    background-color: var(--overlay-th-color);
/*  background-color: #181818;*/
}
.overlay table > tbody > tr > td:last-child {
  text-align: right;
}
.overlay table > tbody > tr > td {
  word-wrap: break-word;
}

.table > tbody > tr:hover{
    background-color: var(--li-hover-color);
}
.reference {
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
}
.reference > div {
  color: var(--font-color-p);
}
.reference > .reference-index {
  flex-basis: 30px;
  padding-right: 10px;
}
.reference > .reference-content {
  flex-basis: auto;
}
.reference > .reference-content a:hover {
    color: #aaa;
}

/*
Clickable Images
*/
.clickable-image {
    cursor: pointer;
    transition: 0.3s;
}

.clickable-image:hover{
    opacity:0.8;
}

#full-img{
    max-height:80%;
    margin: auto;
    display: block;
}

#img-viewer-caption{
    text-align: center;
}


/*
Arch Demo
*/

#arch-wrapper {
  position: fixed;
  height: calc(100% - 120px);
  width: calc(25% - 10px);
  top: 60px;
  left: calc(75%);
  margin-left: 0px;
  display: none;
  z-index: 1000;
  background: #000;
}
#block-diagram {
  height: 90%;
  width: 90%;
}
#msg-wrapper {
  position: fixed;
  height: auto;
  width: calc( 50% );
  top: 40vh;
  left: 25%;
  margin-left: 0px;
  display: none;
  z-index: 1000;
  background: #222;
  border: 3px solid #222;
  border-radius: 5px;
}
#msg-diagram {
  margin: 10px 10px 10px 10px;
  color: #fff;
  font-size: 28px;
}
#msg-diagram h1,
#msg-diagram h2 {
  margin: 5px auto;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 480px) {
  #msg-diagram h1 {
    font-size: 32px;
  }
  #msg-diagram h2 {
    font-size: 26px;
  }
  #msg-diagram {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) and (orientation:landscape) {
  #msg-wrapper {
    width: calc( 50% );
    left: 5%;
    margin-left: 0px;
    top: 25vh;
  }
  #arch-wrapper {
    width: calc(40% - 10px);
    left: calc(60%);
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  #msg-diagram h1 {
    font-size: 40px;
  }
  #msg-diagram h2 {
    font-size: 32px;
  }
  #msg-diagram {
    font-size: 22px;
  }
  #msg-wrapper {
    width: calc( 50% );
    left: 5%;
    margin-left: 0px;
  }
  #arch-wrapper {
    width: calc(40% - 10px);
    left: calc(60%);
  }
}
@media screen and (max-width: 480px) and (orientation:portrait) {
  #msg-wrapper {
    height: auto;
    width: calc( 100% - 20px );
    top: calc( 50% + 5px );
    left: 10px;
  }
  #arch-wrapper {
    height: calc( 50% - 65px);
    width: calc( 100% - 40px );
    top: 60px;
    left: 20px;
  }
}

.vis-info::-webkit-scrollbar,
.demo-table-wrapper::-webkit-scrollbar
{
  width: 12px; 
  height: 0px;
}
.vis-info::-webkit-scrollbar-track,
.demo-table-wrapper::-webkit-scrollbar-track
{
  background: rgba(100, 100, 100, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.vis-info::-webkit-scrollbar-thumb,
.demo-table-wrapper::-webkit-scrollbar-thumb
{
  background: rgba(67, 67, 67, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.mm-panels {
  /*border-left: #434343 1px solid;*/
  background: var(--background-color);
 }
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before,
.mm-menu .mm-listview > li .mm-next:after {
  border-color: #545454;
}
.mm-panels >  .mm-panel  span,
.mm-panels >  .mm-panel  a {
  color: var(--font-color-navbar);
}

.mm-menu .mm-listview > li:hover .mm-next:after,
.mm-navbar:hover a:before {
  border-color: var(--font-color-navbar-hl);
}
.mm-navbar:hover a,
.mm-listview li:hover a,
.mm-listview li:hover span {
  color: var(--font-color-navbar-hl);
}
.mm-listview > li:not(.mm-divider):after {
  background: #323232;
}
.mm-navbar {
  border-color: #323232;
  height: 50px;
}
.mm-navbar > a {
  height: 50px !important;
  line-height: 30px !important;
}
.mm-listview {
  margin-top: -10px !important;
}

.mm-listview li a {
  cursor: pointer;
  padding: 10px 10px 10px 20px !important;
}
.mm-listview li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.mm-listview li:before {
    background-color: #323232;
}

.mm-listview li.hover:before,
.mm-listview li:hover:before,
.mm-listview li.open.hover:before,
.mm-listview li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.mm-listview li a,
.mm-listview li div {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.mm-listview li a:hover,
.mm-listview li a:active,
.mm-listview li a:focus,
.mm-listview li.open a:hover,
.mm-listview li.open a:active,
.mm-listview li.open a:focus,
.mm-listview li div:hover,
.mm-listview li div:active,
.mm-listview li div:focus,
.mm-listview li.open div:hover,
.mm-listview li.open div:active,
.mm-listview li.open div:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.color_inp{
    background-color: rgba(10,10,60,0.3);
    border-width: 0;
}

.syn-column rect{fill:#8E554C}

.syn-column.pre rect[class^='Gad1'] {fill:#FBB4AE}
.syn-column.post rect[class^='Gad1'] {fill:#FBB4AE}

.syn-column.pre rect[class^='Cha'] {fill:#1F77B4}
.syn-column.post rect[class^='Cha'] {fill:#1F77B4}

.syn-column.pre rect[class^='TH'] {fill:#FF9896}
.syn-column.post rect[class^='TH'] {fill:#FF9896}

.syn-column.pre rect[class^='VGlut'] {fill:#AEC7E8}
.syn-column.post rect[class^='VGlut'] {fill:#AEC7E8}

.syn-column.pre rect[class^='fru'] {fill:#393B79}
.syn-column.post rect[class^='fru'] {fill:#393B79}

.syn-column.pre rect[class^='Tdc2'] {fill:#6B6ECF}
.syn-column.post rect[class^='Tdc2'] {fill:#6B6ECF}

.syn-column.pre rect[class^='Trh'] {fill:#637939}
.syn-column.post rect[class^='Trh'] {fill:#637939}

.syn-column.pre rect[class^='5HT1A'] {fill:#8CA252}
.syn-column.post rect[class^='5HT1A'] {fill:#8CA252}



.syn-column.pre rect[class^='Dm1'] {fill:#FBB4AE}
.syn-column.post rect[class^='Dm1'] {fill:#FBB4AE}

.syn-column.pre rect[class^='Dm2'] {fill:#B3CDE3}
.syn-column.post rect[class^='Dm2'] {fill:#B3CDE3}

.syn-column.pre rect[class^='Dm3'] {fill:#CCEBC5}
.syn-column.post rect[class^='Dm3'] {fill:#CCEBC5}

.syn-column.pre rect[class^='Dm4'] {fill:#DECBE4}
.syn-column.post rect[class^='Dm4'] {fill:#DECBE4}

.syn-column.pre rect[class^='Dm5'] {fill:#FED9A6}
.syn-column.post rect[class^='Dm5'] {fill:#FED9A6}

.syn-column.pre rect[class^='Dm6'] {fill:#FFFFCC}
.syn-column.post rect[class^='Dm6'] {fill:#FFFFCC}

.syn-column.pre rect[class^='Dm7'] {fill:#E5D8BD}
.syn-column.post rect[class^='Dm7'] {fill:#E5D8BD}

.syn-column.pre rect[class^='Dm8'] {fill:#FDDAEC}
.syn-column.post rect[class^='Dm8'] {fill:#FDDAEC}

.syn-column.pre rect[class^='Dm9'] {fill:#F2F2F2}
.syn-column.post rect[class^='Dm9'] {fill:#F2F2F2}




.syn-column.pre rect[class^='L1'] {fill:#1F77B4}
.syn-column.post rect[class^='L1'] {fill:#1F77B4}

.syn-column.pre rect[class^='L5'] {fill:#AEC7E8}
.syn-column.post rect[class^='L5'] {fill:#AEC7E8}

.syn-column.pre rect[class^='L2'] {fill:#FF7F0E}
.syn-column.post rect[class^='L2'] {fill:#FF7F0E}

.syn-column.pre rect[class^='L4'] {fill:#FFBB78}
.syn-column.post rect[class^='L4'] {fill:#FFBB78}

.syn-column.pre rect[class^='C2'] {fill:#2CA02C}
.syn-column.post rect[class^='C2'] {fill:#2CA02C}

.syn-column.pre rect[class^='C3'] {fill:#98DF8A}
.syn-column.post rect[class^='C3'] {fill:#98DF8A}

.syn-column.pre rect[class^='L3'] {fill:#D62728}
.syn-column.post rect[class^='L3'] {fill:#D62728}

.syn-column.pre rect[class^='Lawf1'] {fill:#FF9896}
.syn-column.post rect[class^='Lawf1'] {fill:#FF9896}

.syn-column.pre rect[class^='R7'] {fill:#9467BD}
.syn-column.post rect[class^='R7'] {fill:#9467BD}

.syn-column.pre rect[class^='R8'] {fill:#C5B0D5}
.syn-column.post rect[class^='R8'] {fill:#C5B0D5}

.syn-column.pre rect[class^='Lawf2'] {fill:#8C564B}
.syn-column.post rect[class^='Lawf2'] {fill:#8C564B}

.syn-column.pre rect[class^='Pm1'] {fill:#C49C94}
.syn-column.post rect[class^='Pm1'] {fill:#C49C94}

.syn-column.pre rect[class^='Pm2'] {fill:#E377C2}
.syn-column.post rect[class^='Pm2'] {fill:#E377C2}

.syn-column.pre rect[class^='Pm3'] {fill:#F7B6D2}
.syn-column.post rect[class^='Pm3'] {fill:#F7B6D2}

.syn-column.pre rect[class^='Pm4'] {fill:#7F7F7F}
.syn-column.post rect[class^='Pm4'] {fill:#7F7F7F}




.syn-column.pre rect[class^='T4a'] {fill:#393B79}
.syn-column.post rect[class^='T4a'] {fill:#393B79}

.syn-column.pre rect[class^='T4b'] {fill:#5254A3}
.syn-column.post rect[class^='T4b'] {fill:#5254A3}

.syn-column.pre rect[class^='T4c'] {fill:#6B6ECF}
.syn-column.post rect[class^='T4c'] {fill:#6B6ECF}

.syn-column.pre rect[class^='T4d'] {fill:#9C9EDE}
.syn-column.post rect[class^='T4d'] {fill:#9C9EDE}

.syn-column.pre rect[class^='Mi1'] {fill:#637939}
.syn-column.post rect[class^='Mi1'] {fill:#637939}

.syn-column.pre rect[class^='Mi4'] {fill:#8CA252}
.syn-column.post rect[class^='Mi4'] {fill:#8CA252}

.syn-column.pre rect[class^='Mi9'] {fill:#B5CF6B}
.syn-column.post rect[class^='Mi9'] {fill:#B5CF6B}

.syn-column.pre rect[class^='Mi2'] {fill:#CEDB9C}
.syn-column.post rect[class^='Mi2'] {fill:#CEDB9C}

.syn-column.pre rect[class^='Tm3a'] {fill:#8C6D31}
.syn-column.post rect[class^='Tm3a'] {fill:#8C6D31}

.syn-column.pre rect[class^='Tm3p'] {fill:#BD9E39}
.syn-column.post rect[class^='Tm3p'] {fill:#BD9E39}

.syn-column.pre rect[class^='T2'] {fill:#E7BA52}
.syn-column.post rect[class^='T2'] {fill:#E7BA52}

.syn-column.pre rect[class^='T3'] {fill:#E7CB94}
.syn-column.post rect[class^='T3'] {fill:#E7CB94}

.syn-column.pre rect[class^='Tm1'] {fill:#843C39}
.syn-column.post rect[class^='Tm1'] {fill:#843C39}

.syn-column.pre rect[class^='Mi21'] {fill:#AD494A}
.syn-column.post rect[class^='Mi21'] {fill:#AD494A}

.syn-column.pre rect[class^='Tm4'] {fill:#D6616B}
.syn-column.post rect[class^='Tm4'] {fill:#D6616B}

.syn-column.pre rect[class^='Tm9'] {fill:#E7969C}
.syn-column.post rect[class^='Tm9'] {fill:#E7969C}

.syn-column.pre rect[class^='Tm20'] {fill:#7B4173}
.syn-column.post rect[class^='Tm20'] {fill:#7B4173}

.syn-column.pre rect[class^='T1'] {fill:#A55194}
.syn-column.post rect[class^='T1'] {fill:#A55194}


.syn-column.pre rect[class^='Tm2'] {fill:#00007F}
.syn-column.post rect[class^='Tm2'] {fill:#00007F}



.syn-column.pre rect[class^='Mi22'] {fill:#000084}
.syn-column.post rect[class^='Mi22'] {fill:#000084}

.syn-column.pre rect[class^='Tm16'] {fill:#000088}
.syn-column.post rect[class^='Tm16'] {fill:#000088}

.syn-column.pre rect[class^='Tm22'] {fill:#00008D}
.syn-column.post rect[class^='Tm22'] {fill:#00008D}

.syn-column.pre rect[class^='Tm23_24'] {fill:#000091}
.syn-column.post rect[class^='Tm23_24'] {fill:#000091}

.syn-column.pre rect[class^='Tm25_Y1'] {fill:#000096}
.syn-column.post rect[class^='Tm25_Y1'] {fill:#000096}

.syn-column.pre rect[class^='Tm28_TmY9'] {fill:#00009A}
.syn-column.post rect[class^='Tm28_TmY9'] {fill:#00009A}

.syn-column.pre rect[class^='Tm5'] {fill:#00009F}
.syn-column.post rect[class^='Tm5'] {fill:#00009F}

.syn-column.pre rect[class^='Tm6'] {fill:#0000A3}
.syn-column.post rect[class^='Tm6'] {fill:#0000A3}

.syn-column.pre rect[class^='Tm8'] {fill:#0000A8}
.syn-column.post rect[class^='Tm8'] {fill:#0000A8}

.syn-column.pre rect[class^='TmY10'] {fill:#0000AC}
.syn-column.post rect[class^='TmY10'] {fill:#0000AC}

.syn-column.pre rect[class^='TmY13'] {fill:#0000B1}
.syn-column.post rect[class^='TmY13'] {fill:#0000B1}

.syn-column.pre rect[class^='TmY3'] {fill:#0000B6}
.syn-column.post rect[class^='TmY3'] {fill:#0000B6}

.syn-column.pre rect[class^='TmY4'] {fill:#0000BA}
.syn-column.post rect[class^='TmY4'] {fill:#0000BA}

.syn-column.pre rect[class^='TmY5a'] {fill:#0000BF}
.syn-column.post rect[class^='TmY5a'] {fill:#0000BF}

.syn-column.pre rect[class^='Y3_Y6'] {fill:#0000C3}
.syn-column.post rect[class^='Y3_Y6'] {fill:#0000C3}

.svg-syn svg{
    display: block;
    background: var(--background-color);
    width:100%;
    height:100%;
}

.svg-syn{
    margin-bottom: 30px;
}

.syn-axis path,
.syn-axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.syn-axis .tick text{
    stroke: #fff;
    fill: #fff;
    stroke-width:0px;
}

.syn-axis.y .tick text{
    font-size:12px;
}
.syn-axis.x .tick text{
    font-size:9px;
}

#syn-reference-text{
    color: grey;
    font-style: italic;
}

#srch_box {
  border-radius: 3px;
  height: 30px;
  color: var(--srch-box-color);
  background-color: var(--srch-box-background);
  border-color: var(--srch-box-border);
}
#srch_box:focus {
  outline: 1px solid var(--highlight-color);
  border-color: var(--highlight-color);
}
#srch_box::-webkit-input-placeholder,  /* WebKit, Blink, Edge */

#srch_box:-moz-placeholder, /* Mozilla Firefox 4 to 18 */

#srch_box::-moz-placeholde, /* Mozilla Firefox 19+ */

#srch_box:-ms-input-placeholder, /* Internet Explorer 10-11*/
#srch_box::-ms-input-placeholder { /* Microsoft Edge */
   color:    #777;
}

#srch_box_btn {
    height: 30px;
    bottom: 2px;
}

/*
 <TINGKAI> 
  Following css is for overview panel only
  Dumped from lffbo.css
*/

#overview-summary-wrapper {

  background-color: #000;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px; 
  grid-template-areas:
  "card1 card2 card3";
}
#overview-neuron-card {grid-area : "card1";}
#overview-synapse-card {grid-area : "card2";}
#overview-tag-card {grid-area : "card3";}



blockquote {
  background: rgba(0,182,240,0.2);
  border-left: 10px solid rgba(0,182,240,0.6);
  margin: 1.5em 15px;
  padding: 0.5em 15px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
  color: #555;
  /*content: open-quote;*/
  /*font-size: 4em;*/
  /*line-height: 0.1em;*/
  margin-right: 0.25em;
  vertical-align: -0.4em;

}
blockquote p {
    display: inline;

}

#overview-summary-wrapper .card {
  background: var(--card-background);
  text-decoration: none;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-height: 100%;

  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

#overview-summary-wrapper .card:hover {
  top: -2px;
}

#overview-summary-wrapper .card:hover h4{
    color: var(--highlight-color);
    text-shadow:0px 0px 3px var(--highlight-color);
}

#overview-summary-wrapper .card article {
  padding: 20px;

  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: space-between;
}

#overview-summary-wrapper .card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

#overview-summary-wrapper .card h4 {
  font-family: var(--h-font-family);
  align-self: center;
  /*font-size: 28px;*/
  margin: 0;
  /*color: var(--font-color-blue);*/
}

#overview-summary-wrapper .card a {
  align-self: center;
  text-decoration: none;

}

#overview-summary-wrapper .card p {
  flex: 1; 
  /*font-size: 16px;*/
  line-height: 1.4;
  /* color: var(--font-color-grey);*/
  align-self:center;
  justify-self:center;
  padding-left:20px;
  padding-right: 20px;

}

#overview-summary-wrapper .card hr{
  width:80%;
}


/*
  Intro Text class
  h1
  band: article, images
  band2: article, images
  ...
*/

.overview-text {
    padding: 10px 20px 10px 10px;
    height: auto;
    
  display: flex;
  flex-direction:column;

  align-items: flex-start;
  justify-content: left;
}

.overview-text band {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: space-between;
  
}

@media screen and (max-width:768px){
    .overview-text band{
	display: flex;
	flex-direction: column;
	
	align-items: flex-start;
	justify-content: center;
	
    }
}

.overview-text band >images { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.overview-text h4 {
  font-family: var(--h-font-family);
 /* font-size: 24px;*/
  margin: 0;
 /* color: var(--font-color-blue-l);*/
}

.overview-text band > article > ul > li {
  /* font-size: 16px; */
  line-height: 1.4;
  color: var(--font-color-p);
  font-family: var(--u-font-family);
  margin-left: 20px;
}

.overview-text band > article > p {
  /* font-size: 16px; */
  line-height: 1.4;  
  color: var(--font-color-p); 
}
.overview-text band > article > li {
  /* font-size: 16px; */
  line-height: 1.4;  
  color: var(--font-color-p); 
}

.overview-text band > article > ul {
  /* font-size: 16px; */
    /*line-height: 1.4;*/
  padding: 0px;
  color: var(--font-color-p);
}

.overview-text band > images >img {
    width: auto;
    min-width: 20vw;
    max-width: 30vw;
    max-height:50vh;
    margin:20px 20px 20px 20px;
}

@media screen and (max-width:768px){
    .overview-text band > images > img {
	display: block;
	width: auto;
	height: auto;
	max-width: 80vw;
	max-height: 50vh;
    }
}



.overview-summary a{
  text-decoration: none;
}

.overview-text blockquote> p {
  color: #a7a7a7;
}
/*
 Alternating div color for overview-text
*/
div#overview-panel > .overview-content-wrapper > div:nth-of-type(odd) {
    background: #000;
}
/*
div#overview-panel > .overview-content-wrapper > div:nth-of-type(even) {
    background: #222;
}
*/

#overview-summary-wrapper{
    height: 40%;
}

.slider-bar{
    top: 60px;
    width: 15px;
    background: transparent;
    cursor: ew-resize;
    z-index: 3000;
    position: fixed;
    height: calc( 100vh - 120px );
}

#info_panel_dragger {
    left: calc( var(--boundary-horizontal) - 15px );
}


@media screen and (orientation:portrait) {
  .slider-bar {
    display: none;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


#neuronlp-switch {
    width: 300px;
    left: calc( 50% - 150px ) !important;
    height: 200px ;
    top: calc( 50% - 100px );
    border: none;
    background: transparent;
    overflow: hidden;
}    
#neuronlp-switch div {
    border: none;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
#neuronlp-switch div h5 {
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#neuronlp-switch div h5:before,
#neuronlp-switch div h5:after {
    background-color: var(--font-color-h1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
#neuronlp-switch div h5:before {
    right: 0.5em;
    margin-left: -50%;
}
#neuronlp-switch div h5:after {
    left: 0.5em;
    margin-right: -50%;
}
#neuronlp-switch div .info-try {
    width: 200px;
}


@media screen and (max-width: 768px){
    #neuronlp-switch{
	width: 300px;
	left: calc( 50% - 150px )
    }
}
#ui_menu_nav a, span {
    font-size: 15px;
}

.glyphicon {
    font-size: 14px;
}


.navbar a {
    font-size: 15px;
}

.vis-info-sm .ps__scrollbar-x-rail, 
.vis-info-sm .ps__scrollbar-y-rail {
  display: none !important;
}

.ui-loader {
  display: none !important;
}

#announce-panel {
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
}
#announce-panel div {
    width:auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}


