

/*
Info Panel
*/

#presyn-N{
    max-width: 50px;
    text-align:center;
}
#postsyn-N{
    max-width: 50px;
    text-align: center;
}
.info-input-span{
    color: #999;
    /*font-size: 1.5vw;*/
}

.info-input{
    background: var(--srch-box-background);
    border-color: var(--srch-box-background);
    color: var(--srch-box-color);
    border-width: 1px;
    font-family: monospace;
}

.info-try {
  font-weight: 400;
  background: #377097;
  color: #ccc;
  /*font-size: 14px;*/
  border: 5px solid #377097;
  margin: -4px 0px 0px 10px
}

.info-try:focus,
.info-try:active:focus,
.info-try.active:focus {
    outline: 0 none;
}

.info-try:hover,
.info-try:focus {
    color: #eee;
}

.info-try:active,
.info-try.active {
    background: #444;
    color: #ddd;
}

.vis-info p {
  margin-left: 10px;
  margin-right: 10px;

}

.vis-info table > tbody > tr > td {
    color: var(--font-color-p);
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.table-custom-striped td, .table-custom-striped th {
    text-align:center;
}

.table-custom-striped td:first-child, .table-custom-striped th:first-child {
    text-align:left;
}

.table-custom-striped td:last-child, .table-custom-striped th:last-child {
    text-align:right;
    padding-right: 20px;
}


.vis-info {
  background: var(--infobar-background-color);
  border: 3px solid #1f1f1f;
  border-radius: 3px;
  left: 10px;
  top: 20px;
  position: fixed;
  z-index: 150;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  box-shadow: 0px 0px 4px var(--infobar-background-color);
}

.vis-info-sm {
  height: 35px;
  width: 250px;
  top: 60px;
  overflow: hidden;
}

/* .vis-info-sm:hover */
.vis-info-pin {
  /*height: 400px;*/
  top: 60px;
  height: calc(100vh - 120px);
  width: calc(var(--boundary-horizontal) - 15px);
  overflow-x: hidden;
  overflow-y: auto;
}

#info-pin-div > ul {
  height: 40px;
  width: 100%;
  /* position: absolute; */
  margin-bottom: -5px;
}
#info-pin-div > ul > li:first-child > p {
  margin-top: 7px;
  /*margin-left: 5px;*/
  color: var(--font-color-p);
}
#info-pin-div > ul > li > p {
  margin-top: 5px;
  /*margin-left: 5px;*/
  color: white;
}

.vis-info > #info-pin-div > ul > li:first-child {
  width: calc( 95% - 50px );
}

#info-pin-div > ul > li:last-child {
  padding-right: 0px;
  float:right;
}

#info-pin-div > ul > li:last-child > .btn {
    margin-top: 7px;
    margin-right: 2px;
    background: transparent;
    color: #aaa;
    /*font-size: 15px;*/
}

#info-pin-div > ul > li:last-child > .btn:focus,
#info-pin-div > ul > li:last-child > .btn:active:focus,
#info-pin-div > ul > li:last-child > .btn.active:focus {
    outline: 0 none;
}

#info-pin-div > ul > li:last-child > .btn:hover {
    color: #eee;
}

.vis-info-pin > #info-pin-div > ul > li:first-child > p {
  display: none;
}

.vis-info-sm > *:nth-child(2) {
  display: none;
}


.ffbo-intro > p,
.ffbo-intro > h1,
.ffbo-intro > h2,
.ffbo-intro > h3,
.ffbo-intro > h4,
.ffbo-intro > h5 {
  margin-left: 10px;
  margin-right: 15px;
}

#neu-id {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .vis-info-sm {
    width: 40%;
  }
}

@media screen and (max-width: 780px) and (orientation:portrait) {
  .vis-hf-r,
  .vis-3d-hf {
    height: calc( 50% - 35px - 25px - 10px ) !important;
    width: calc( 100% - 20px ) !important;
    top: calc( 50vh ) !important;
    left: 10px !important;
  }
  /* .vis-info-sm:hover */
  .vis-info-pin,
  .vis-sm:hover,
  .vis-sm-1:hover {
    top: 60px;
    height: calc( 50% - 35px - 25px );
    width: calc( 100% - 20px );
    overflow-y: auto;
  }

  .vis-3d-lg {
      border: none;
      height: calc( 100% - 120px );
      width: calc( 100% - 20px );
      top: 60px;
      left: 10px;
  }

}


/* making responsive table with CSS grid*/
.table-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    grid-gap: 1px
}


.table-grid > div {
    display: grid;
    grid-template-columns: minmax(110px,1fr) minmax(300px,5fr);
    justify-content: center;
    box-sizing: border-box;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    align-items: center;
}

.table-grid > div p{
    margin: 0px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    color: var(--font-color-p);
}




/*
.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.vis-info table > tbody > tr > td {
    color: var(--font-color-p);
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.table-custom-striped td, .table-custom-striped th {
    text-align:center;
}

.table-custom-striped td:first-child, .table-custom-striped th:first-child {
    text-align:left;
}

.table-custom-striped td:last-child, .table-custom-striped th:last-child {
    text-align:right;
    padding-right: 20px;
}

*/
