:root {
  --background-color: rgb(30,30,35);
  --infobar-background-color: rgb(30,30,35);
  --background-color-transparent: rgba(30,30,35,0.8);
  --overlay-background-color: rgba(30,30,35,1.0);

  --navbar-text-color: #ccc;
  --li-hover-color: rgb(45, 50, 65);
  --overlay-thead-color: rgb(20,20,25);
  --overlay-th-color: rgb(20,20,25);
  --shadow-color:rgba(0,0,0,0.1);

  --font-color-a:      #777;
  --font-color-p:      #999;
  --font-color-h5:     #88CDF5;
  --font-color-h4:     #88CDF5; /*#377097;*/
  --font-color-h3:     #88CDF5;
  --font-color-h2:     #A0D7F7;
  --font-color-h1:     #B3DFF9;
  --font-color-brand:  #c5c3c0;
  --font-color-navbar: #9d9d9d;
  --font-color-navbar-hl: #fff;

  --btn-color:rgb(157,175,180);
  --btn-color-d:rgba(157,175,180,0.2);

  --info-ui-color:rgb(238, 230, 230);
  --info-ui-background-color:#337ab7;

  --info-ui-color-hover:rgb(255, 255, 255);
  --info-ui-background-color-hover:#337ab7;

  --srch-btn-background-color:#337ab7;
  --srch-btn-border-color:#2e6da4;

  --srch-box-color: #000;
  --srch-box-background: #ccc;
  --srch-box-border: #555;


  --highlight-color: rgb(115, 201, 144);
  --highlight-color-d: rgba(115, 201, 144,0.2);

  --th-color:rgb(27,35,45);
  --td-color:rgb(33,43,56);

  --overview-background:#000;/* rgba(23,23,23,1);*/
  --card-background: #000;/*rgba(32,32,32,1);*/
  --font-color-blue : rgba(0,182,240,1);
  --font-color-blue-l : rgba(0,182,240,1);
  --font-color-grey : grey;

  --boundary-horizontal: 50vw;
  --boundary-horizontal-overlay: 80vw;
  --h-font-family: 'Quicksand', sans-serif;
  --u-font-family: 'Open Sans', sans-serif;

  --modal-content-background: rgba(30,30,35, 0.95);
  --modal-content-textcolor: rgb(118, 181, 202);
  --modal-tag-background-color: rgb(88, 137, 182);
  --tag-el-active-background-color: #0f3150;
  --tag-el-background-color: #0b1824;
  --tag-el-hover-background-color: #1d2e3d;
}